@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --blue: #17195C;
  --green: #006810;
  --lightblue: #4272e7;
  --lightgreen: #30c856;
  --grey: #494949;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

input.form-control.me-2 {
  border-radius: 25px;
}

.navigation-container {
  background: url(../images/parliament-bg.png) var(--green);
  background-position-y: 56%;
  background-size: cover;
  padding: 1em;
  background-blend-mode: multiply;
}

.navbar-brand img {
  height: 80px;
}

.first-nav form {
  align-self: center;
  flex-grow: .2;
}

.navbar .nav-link {
  color: #fff !important;
}

.region-content,.region-footer {
  padding: 0;
}

.footer {
  padding: 3em 3em 1em;
  background: var(--green);
  margin-top: 4em;
}

.footer img {
  width: 120px;
}

.footer h5 {
  color: #fff;
}

.footer a {
  color: #b4ffc7;
  display: inline-block;
}

.footer a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #baffc7;
  transition: width 0.3s ease-in;
}

.footer a:hover::after {
  width: 100%;
}

.footer .row:first-of-type {
  border-bottom: 1px solid #fff;
}
