.leaders-display img:not(.left-motion, .right-motion) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid var(--lightgreen);
}

.leaders-display {
  margin: 3em 0;
  padding: 1em 0;
  background: #47ffad12;
  border-radius: 10px;
}

.leaders-display>div:first-of-type {
  margin-bottom: 2em;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.leaders-display h3 {
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.leaders-display button {
  font-size: 28px;
  background: none;
  border: none;
  line-height: 0;
  color: #68b574;
}

.leaders-display label {
  font-size: 22px;
  font-weight: bold;
  color: var(--green);
  margin: 0 1em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.input-wrapper {
  display: none;
}

.input-wrapper.active {
  display: flex;
}

ul.active {
  display: block;
}

#mp-container{
  max-height: 600px;
  overflow-x: hidden;
}

#mp-container p:first-of-type{
  line-height: 1.2;
  margin: 0.5em 0 0.3em 0;
}

.simplebar-scrollbar::before {
  background-color: var(--green);
}