.container.first-section {
  margin: 2em auto 4em;
}

.notices-block {
  background-color: var(--blue);
}

.notices-block * {
  color: #fff;
}

.notices-block {
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 13fr;
  padding: 15px 25px;
}

.notices-block img {
  width: 100px;
}

.notice-slider {
  padding: 1em 2em 0 3em !important;
}

.update-bloc {
  position: relative;
}

.update-bloc::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #282828d4, #30303057, transparent);
  position: absolute;
  bottom: 0;
  left: 0px;
}

.update-bloc img {
  object-fit: cover;
  height: 530px;
}

.date-title {
  position: absolute;
  padding: 0 20px;
  z-index: 10;
  color: #fff;
  bottom: 40px;
}

.image-updates p {
  font-size: 14px;
  background: var(--blue);
  width: fit-content;
  padding: 3px 10px;
  border-radius: 7px;
}

.image-updates .splide__pagination {
  bottom: 1.5em;
} 

.image-updates .splide__pagination__page {
  background: #fff;
  opacity: 1;
}

.image-updates .splide__pagination__page.is-active {
  background: var(--green);
  width: 35px;
  margin: 0 10px;
  border-radius: 10px;
}

.nat-schedule-bloc, .senate-schedule-bloc {
  background: #eaffed;
  padding: .5em 1em;
  border-radius: 10px;
}

.senate-schedule-bloc {
  background: rgb(226 240 255);
}

.nat-schedule-bloc h5, .senate-schedule-bloc h5{
  font-size: 18px;
}

.time-topic li::before {
  border-left: 2px solid var(--green);
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
}

.senate-schedule-bloc .time-topic li::before{
  border-left: 2px solid var(--blue);
}

.senate-schedule-bloc .time-topic li::after{
  border: 5px solid var(--blue);
}

.time-topic li::after {
  border: 5px solid var(--green);
  border-radius: 5px;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.time-topic li:nth-child(2)::after, .time-topic li:nth-child(2)::before, .time-topic li:nth-child(2){
  color: grey;
  border-color: grey;
}

.schedule-date{
  font-weight: 600;
  margin-bottom: 2em;
}

.nat-schedule .splide__arrow{
  background: var(--green);
}

.senate-schedule .splide__arrow{
  background: var(--blue);
}

.first-section .splide__arrow svg {
  fill: #fff;
}

.nat-schedule .splide__arrow--prev, .senate-schedule .splide__arrow--prev {
  left: 8em;
  top: 10px;
}

.nat-schedule .splide__arrow--next, .senate-schedule .splide__arrow--next {
  right: 8em;
  top: 10px;
}

.nat-schedule li, .senate-schedule li{
  list-style: none;
  margin-left: 1rem;
  margin-bottom: .8rem;
}

.na-schedule-link, .senate-schedule-link {
  display: flex;
  justify-content: end;
}

.na-schedule-link a, .senate-schedule-link a{
  padding: 7px 12px;
  border: 1px solid var(--green);
  border-radius: 25px;
  color: var(--green);
  font-size: 14px;
}

.senate-schedule-link a{
  border: 1px solid var(--blue);
  color: var(--blue);
}

.nav-pills .nav-link:not(.active) {
  border-radius: 0;
  background-color: #fff;
  color: var(--lightgreen);
  border: 2px solid;
}

.nav-pills .nav-link.active {
  background-color: var(--lightgreen);
  border-radius: 0;
  border: 2px solid var(--lightgreen);
}

.schedule-bloc .fc-scroller {
  height: 350px !important;
}

.tab-info>div {
  display: flex;
  position: relative;
}

.tab-info>div::before {
  border-left: 2px solid var(--lightgreen);
  bottom: 0;
  content: "";
  left: 10px;
  position: absolute;
  top: 0;
}

.tab-info>div::after {
  border: 5px solid var(--lightgreen);
  border-radius: 5px;
  content: "";
  height: 0;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 0;
}

.schedule-topic,
.schedule-time {
  margin-left: 2em;
}

.schedule-topic {
  color: var(--green);
  text-decoration: underline;
  margin-bottom: 1.5em;
}

.news-title {
  text-align: center;
  color: var(--blue);
  font-weight: 900;
}

.news-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  box-shadow: 1px 1px 6px #c8c8c8;
  border-radius: 10px;
  margin-bottom: 2em;
}

.news-block img {
  border-radius: 10px;
  height: 100px;
  object-fit: cover;
}

.news-block>div {
  padding: 0 5px 0px 20px;
}

.news-block h5 {
  color: var(--lightblue);
}

.news-block a {
  color: var(--blue);
  position: relative;
  transition: 0.5s ease-in-out;
  margin-top: 3px;
  display: inline-block;
  font-size: .9em;
}

.news-block a:hover {
  color: var(--lightblue);
}

.news-block i {
  position: absolute;
  transition: right 0.3s ease-in-out;
  right: -22px;
}

.news-block a:hover i {
  right: -30px;
}


.scroll-text,
.first-news-block,
.second-news-block {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.first-news-block p,
.second-news-block p {
  margin-bottom: 10px;
  background-color: #a8d3f1;
  width: fit-content;
  padding: 4px 10px;
  font-size: .8em;
  border-radius: 5px;
  color: #216a9d;
}

.second-news-block>div,
.scroll-text>div {
  position: absolute;
  transition: opacity .8s ease-in-out;
  opacity: 0;
}

.na-slider,
.senate-slider,
.notice-slider {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.na-slider li,
.senate-slider li,
.notice-slider li {
  display: none;
}

.na-slider li.ease-in,
.senate-slider li.ease-in,
.notice-slider li.ease-in {
  display: block;
  transition: ease-in;
}

.level-btns {
  margin-top: 5em;
}

.level-a,
.level-b {
  padding: 17px 20px;
  color: #fff;
  width: 100%;
  margin: 0 1em;
  display: block;
  text-align: center;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 600;
}

.level-a,
.level-b {
  background-color: var(--green);
  transition: all 0.2s linear 0s;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.level-a::before,
.level-b::before {
  content: ">";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 35px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}

.level-a:hover,
.level-b:hover {
  text-indent: 30px;
}

.level-a:hover::before,
.level-b:hover::before {
  transform: scale(1.65, 1.65);
  text-indent: 0;
}

.level-b {
  background-color: var(--blue);
}

.splide.committee-articles .splide__arrow--prev,
.splide.second-committee-articles .splide__arrow--prev {
  left: -3em;
}

.splide.committee-articles .splide__arrow--next,
.splide.second-committee-articles .splide__arrow--next {
  right: -3em;
}

.committee-work {
  margin: 5em 0 3em;
}

.two-committee-work {
  margin-bottom: 3em;
}

.committee-work h2,
.two-committee-work h2 {
  text-align: center;
  font-weight: 700;
  color: var(--blue);
  margin-bottom: 1em;
}

.committee-work img,
.two-committee-work img {
  height: 250px;
  border-radius: 10px;
}

.committee-work h5,
.two-committee-work h5 {
  color: var(--green);
  margin-top: 1em;
}

.two-committee-work h5 {
  color: var(--blue);
}

.committee-work a,
.two-committee-work a {
  color: var(--lightgreen);
  border-radius: 30px;
  border: 1px solid;
  padding: 8px 15px;
  font-size: 15px;
  margin: 0.5em 0;
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.two-committee-work a {
  color: var(--lightblue);
}

.committee-work a:hover {
  background: var(--lightgreen);
  color: #fff;
}

.two-committee-work a:hover {
  background: var(--lightblue);
  color: #fff;
}

hr {
  border-top: 1px solid var(--green);
  opacity: 1;
  margin: 3em 0 0;
}

.video-title {
  font-weight: 700;
  margin: 1em 0;
}

.youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  padding-top: 30px;
  /* To adjust for any additional content */
  height: 0;
  overflow: hidden;
}

.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.kenyan-map svg {
  stroke: #fff;
  stroke-width: 1;
}

.kenyan-map path {
  fill: var(--green);
}

.tooltiptext {
  display: none;
}

.tooltiptext.active {
  display: initial;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: fixed;
  z-index: 1;
  padding: 5px;
  font-size: 14px;
}
