.splide.hero-images {
  height: calc(100vh - 136px);
}

.splide__track {
  height: 100%;
}

.splide__slide img {
  height: 100%;
  object-fit: cover;
}

.splide.schedule .splide__arrows.splide__arrows--ltr {
  position: relative;
  top: 16px;
}

.splide.schedule .splide__arrow--next {
  right: 8em;
}

.splide.schedule .splide__arrow--prev {
  left: 8em;
}

ul.splide__pagination {
  bottom: 5em;
}

.notices-block {
  background-color: var(--blue);
}

.notices-block * {
  color: #fff;
}

.notices-block {
  border-radius: 15px;
  position: relative;
  top: -3em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 13fr;
  padding: 15px 25px;
}

.notices-block img {
  width: 65px;
}

.notice-slider {
  padding: 1em 2em 0 3em !important;
}

.notice-slider h4{
  font-weight: 700;
}

.tab-content {
  box-shadow: 0px 5px 8px 6px #00000017;
  padding: 1em;
}

.tab-content>.active {
  display: block;
}

.nav-pills .nav-link:not(.active) {
  border-radius: 0;
  background-color: #fff;
  color: var(--lightgreen);
  border: 2px solid;
}

.nav-pills .nav-link.active {
  background-color: var(--lightgreen);
  border-radius: 0;
  border: 2px solid var(--lightgreen);
}

.schedule-bloc .fc-scroller {
  height: 350px !important;
}

.schedule-title p {
  font-size: 1.6em;
  font-weight: 500;
  color: var(--green);
}

.schedule-date p {
  font-size: 1.1em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2em;
}

.tab-info>div {
  display: flex;
  position: relative;
}

.tab-info>div::before {
  border-left: 2px solid var(--lightgreen);
  bottom: 0;
  content: "";
  left: 10px;
  position: absolute;
  top: 0;
}

.tab-info>div::after {
  border: 5px solid var(--lightgreen);
  border-radius: 5px;
  content: "";
  height: 0;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 0;
}

.schedule-topic,
.schedule-time {
  margin-left: 2em;
}

.schedule-topic {
  color: var(--green);
  text-decoration: underline;
  margin-bottom: 1.5em;
}

.news-title {
  text-align: center;
  color: var(--blue);
  font-weight: 900;
}

.news-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  box-shadow: 1px 1px 6px #c8c8c8;
  border-radius: 10px;
  margin-bottom: 2em;
}

.news-block img {
  border-radius: 10px;
  height: 100px;
  object-fit: cover;
}

.news-block>div {
  padding: 0 5px 0px 20px;
}

.news-block h5 {
  color: var(--lightblue);
}

.news-block a {
  color: var(--blue);
  position: relative;
  transition: 0.5s ease-in-out;
  margin-top: 3px;
  display: inline-block;
  font-size: .9em;
}

.news-block a:hover {
  color: var(--lightblue);
}

.news-block i {
  position: absolute;
  transition: right 0.3s ease-in-out;
  right: -22px;
}

.news-block a:hover i {
  right: -30px;
}


.scroll-text,
.first-news-block,
.second-news-block {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.first-news-block p,
.second-news-block p {
  margin-bottom: 10px;
  background-color: #a8d3f1;
  width: fit-content;
  padding: 4px 10px;
  font-size: .8em;
  border-radius: 5px;
  color: #216a9d;
}

.second-news-block>div,
.scroll-text>div {
  position: absolute;
  transition: opacity .8s ease-in-out;
  opacity: 0;
}

.na-slider,
.senate-slider,
.notice-slider {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.na-slider li,
.senate-slider li,
.notice-slider li {
  display: none;
}

.na-slider li.ease-in,
.senate-slider li.ease-in,
.notice-slider li.ease-in {
  display: block;
  transition: ease-in;
}

.level-btns {
  margin-top: 5em;
}

.level-a,
.level-b {
  padding: 17px 20px;
  color: #fff;
  width: 100%;
  margin: 0 1em;
  display: block;
  text-align: center;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 600;
}

.level-a, .level-b {
  background-color: var(--green);
  transition: all 0.2s linear 0s;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.level-a::before, .level-b::before{
  content: ">";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 35px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}

.level-a:hover, .level-b:hover{
  text-indent: 30px;
}

.level-a:hover::before, .level-b:hover::before{
  transform: scale(1.65,1.65);
  text-indent: 0;
}

.level-b {
  background-color: var(--blue);
}

.splide.committee-articles .splide__arrow--prev, .splide.second-committee-articles .splide__arrow--prev {
  left: -3em;
}

.splide.committee-articles .splide__arrow--next, .splide.second-committee-articles  .splide__arrow--next {
  right: -3em;
}

.committee-work {
  margin: 5em 0 3em;
}

.two-committee-work {
  margin-bottom: 3em;
}

.committee-work h2,
.two-committee-work h2 {
  text-align: center;
  font-weight: 700;
  color: var(--blue);
  margin-bottom: 1em;
}

.committee-work img,
.two-committee-work img {
  height: 250px;
  border-radius: 10px;
}

.committee-work h5,
.two-committee-work h5 {
  color: var(--green);
  margin-top: 1em;
}

.two-committee-work h5 {
  color: var(--blue);
}

.committee-work a,
.two-committee-work a {
  color: var(--lightgreen);
  border-radius: 30px;
  border: 1px solid;
  padding: 8px 15px;
  font-size: 15px;
  margin: 0.5em 0;
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.two-committee-work a {
  color: var(--lightblue);
}

.committee-work a:hover {
  background: var(--lightgreen);
  color: #fff;
}

.two-committee-work a:hover {
  background: var(--lightblue);
  color: #fff;
}

hr {
  border-top: 1px solid var(--green);
  opacity: 1;
  margin: 3em 0 0;
}

.video-title {
  font-weight: 700;
  margin: 1em 0;
}

.youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  padding-top: 30px;
  /* To adjust for any additional content */
  height: 0;
  overflow: hidden;
}

.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.kenyan-map svg {
  stroke: #fff;
  stroke-width: 1;
}

.kenyan-map path {
  fill: var(--green);
}

.tooltiptext {
  display: none;
}

.tooltiptext.active {
  display: initial;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: fixed;
  z-index: 1;
  padding: 5px;
  font-size: 14px;
}