.first-section,
.news-updates,
.releases,
.nat-committee-work,
.sen-committee-work,
.counties {
  margin: 4em 0;
}

.notices-block {
  background-color: var(--blue);
}

.notices-block * {
  color: #fff;
}

.notices-block {
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 13fr;
  padding: 15px 25px;
}

.notices-block img {
  width: 100px;
}

.notice-slider {
  padding: 1em 2em 0 3em;
  list-style: none;
  margin: 0;
  display: flex;
}

.notice-slider li {
  display: none;
}

.notice-slider li.ease-in {
  display: block;
  transition: ease-in;
}

.update-bloc {
  position: relative;
}

.update-bloc::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #282828d4, #30303057, transparent);
  position: absolute;
  bottom: 0;
  left: 0px;
}

.news-updates img:hover, .nat-committee-work img:hover, .sen-committee-work img:hover {
  filter: grayscale(1);
  z-index: 1;
}

.update-bloc img {
  object-fit: cover;
  height: 530px;
}

.date-title {
  position: absolute;
  padding: 0 20px;
  z-index: 10;
  color: #fff;
  bottom: 40px;
}

.image-updates p {
  font-size: 14px;
  background: var(--blue);
  width: fit-content;
  padding: 3px 10px;
  border-radius: 7px;
}

.image-updates .splide__pagination {
  bottom: 1.5em;
}

.image-updates .splide__pagination__page {
  background: #fff;
  opacity: 1;
}

.splide__pagination__page.is-active {
  background: var(--green);
  width: 35px;
  margin: 0 10px;
  border-radius: 10px;
}

.nat-schedule-bloc,
.sen-schedule-bloc {
  background: #eaffed;
  padding: .5em 1em;
  border-radius: 10px;
}

.sen-schedule-bloc {
  background: rgb(226 240 255);
}

.nat-schedule-bloc h5,
.sen-schedule-bloc h5 {
  font-size: 18px;
}

.time-topic li::before {
  border-left: 2px solid var(--green);
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
}

.sen-schedule-bloc .time-topic li::before {
  border-left: 2px solid var(--blue);
}

.sen-schedule-bloc .time-topic li::after {
  border: 5px solid var(--blue);
}

.time-topic li::after {
  border: 5px solid var(--green);
  border-radius: 5px;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.time-topic li:nth-child(2)::after,
.time-topic li:nth-child(2)::before,
.time-topic li:nth-child(2) {
  color: grey;
  border-color: grey;
}

.schedule-date {
  font-weight: 600;
  margin-bottom: 2em;
}

.nat-schedule .splide__arrow {
  background: var(--green);
}

.sen-schedule .splide__arrow {
  background: var(--blue);
}

.first-section .splide__arrow svg {
  fill: #fff;
}

.nat-schedule .splide__arrow--prev,
.sen-schedule .splide__arrow--prev {
  left: 8em;
  top: 10px;
}

.nat-schedule .splide__arrow--next,
.sen-schedule .splide__arrow--next {
  right: 8em;
  top: 10px;
}

.nat-schedule li,
.sen-schedule li {
  list-style: none;
  margin-left: 1rem;
  margin-bottom: .8rem;
}

.nat-schedule-link,
.sen-schedule-link {
  display: flex;
  justify-content: end;
}

.nat-schedule-link a,
.sen-schedule-link a {
  padding: 7px 12px;
  border: 1px solid var(--green);
  border-radius: 25px;
  color: var(--green);
  font-size: 14px;
  transition: .3s;
}

.nat-schedule-link a:hover, .releases-bloc a:hover {
  background: var(--green);
  color: #fff !important;
}

.sen-schedule-link a:hover{
  background: var(--blue);
  color: #fff;
}

.sen-schedule-link a {
  border: 1px solid var(--blue);
  color: var(--blue);
}

.news-updates h5, .nat-committee-work h5, .sen-committee-work h5 {
  color: var(--green);
  font-size: 1.1rem;
  padding: 14px 0;
}

.news-updates .splide__pagination, .nat-committee-work .splide__pagination, .sen-committee-work .splide__pagination {
  bottom: -1em;
}

.nav-pills .nav-link:not(.active) {
  border-radius: 0;
  background-color: #fff;
  color: var(--lightgreen);
  border: 2px solid;
}

.nav-pills .nav-link.active {
  background-color: var(--lightgreen);
  border-radius: 0;
  border: 2px solid var(--lightgreen);
}

.schedule-bloc .fc-scroller {
  height: 350px !important;
}

.tab-info>div {
  display: flex;
  position: relative;
}

.tab-info>div::before {
  border-left: 2px solid var(--lightgreen);
  bottom: 0;
  content: "";
  left: 10px;
  position: absolute;
  top: 0;
}

.tab-info>div::after {
  border: 5px solid var(--lightgreen);
  border-radius: 5px;
  content: "";
  height: 0;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 0;
}

.schedule-topic,
.schedule-time {
  margin-left: 2em;
}

.schedule-topic {
  color: var(--green);
  text-decoration: underline;
  margin-bottom: 1.5em;
}

.news-title {
  text-align: center;
  color: var(--blue);
  font-weight: 900;
}

.splide.committee-articles .splide__arrow--prev,
.splide.second-committee-articles .splide__arrow--prev {
  left: -3em;
}

.splide.committee-articles .splide__arrow--next,
.splide.second-committee-articles .splide__arrow--next {
  right: -3em;
}

.tab {
  overflow: hidden;
  background-color: #fff;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #aef09f;
}

.tab button.active {
  border-bottom: 3px solid var(--green);
  color: var(--green);
}

.tabcontent {
  display: none;
  padding: 2em 1em;
}

.tabcontent a:not(.pager a) {
  padding: 5px 30px;
  color: var(--green);
  font-size: 14px;
  border: 1px solid;
  border-radius: 25px;
  height: fit-content;
  text-align: center;
}

#Bills .pager a {
  color: var(--green);
  font-size: 20px;
  border: 2px solid;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  line-height: 1;
}

.releases-bloc {
  padding: 3em 3em;
  background: #edfdf0;
}

.releases-bloc>a {
  display: block;
  margin: 0 auto;
  width: 170px;
  text-align: center;
  background: var(--green);
  color: #fff;
  padding: 9px 15px;
}

.nat-committee-work img,
.news-updates img,
.sen-committee-work img {
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.counties a {
  padding: 7px 10px;
  color: var(--green);
  background: #ebfff0;
  display: block;
  margin: 5px;
  font-size: 14px;
  transition: .3s;
}

.counties a:hover {
  background: var(--green);
  color: #ebfff0;
}

.youtube-links {
  margin: 5em 0;
}

.youtube-links hr {
  border: 1px solid;
  opacity: 1;
}

.video-title {
  font-weight: 600;
  position: absolute;
  background: #fff;
  padding: 0px 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.youtube-video {
  border-radius: 10px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.kenyan-map svg {
  stroke: #fff;
  stroke-width: 1.5px;
}

.kenyan-map path {
  fill: #d9d9d9;
}

.kenyan-map path:hover {
  stroke: var(--green);
  stroke-width: 2px;
  fill: var(--green);
}

.tooltiptext {
  display: none;
}

.tooltiptext.active {
  display: initial;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: fixed;
  z-index: 1;
  padding: 5px;
  font-size: 14px;
}
