/* SINGLE PAGE */

.breadcrumb {
  margin: 2em 0;
}

.breadcrumb a, .breadcrumb li {
  color: var(--green);
  font-size: 14px;
  font-weight: 600;
}

.breadcrumb a:hover {
  color: var(--grey);
}

.schedule-document iframe {
  min-height: 800px;
}

.single-download-button a {
  background-color: var(--red);
  color: #fff;
  padding: 12px 20px;
  display: inline-block;
}
