<div class="breadcrumbs">
  <a href=""> Home </a>
  <a href=""> National Assembly </a>
  <a href=""> Speaker's Blog </a>
</div>

<h2 class="mb-2">{{label}}</h2>
<p class="mb-4 created-date">{{ node.getCreatedTime|date('l, j F Y') }}</p>
<div>{{content}}</div>

<hr class="single-end">

{# <div class="more-updates">
  <h3> More Updates </h3>
</div> #}
