<body>
  {{ page.header }}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">Members of Parliament</h1>
      </div>

      <div class="col-md-12">
        <div class="archive-mp-content">
          <h2> Find MPs </h2>
          <div class="filter-box">
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ page.footer }}
</body>
