<body>
  {{ page.header }}
  <div class="top-banner">
    <h1> Parliament of Kenya </h1>
    <div class="breadcrumb-box">
      <a href="#"> Parliament</a>
      <a href="#"> Hall of Leaders </a>
    </div>
  </div>

  <div class="hall-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2> Hall of Leaders </h2>
          <div class="">
            <p> Establishing a hall of leaders within the Parliament of Kenya is a testament to the nation's recognition
              of the remarkable contributions made by its Members of Parliament (MPs). As custodians of the people's
              voice and architects of legislative process, MPs play an integral role in shaping the nation's trajectory.
              Each MP represents a diverse array of constituencies, embodying the aspirations and concerns of their
              constituents. By enshrining their legacy within the Hall of Leaders, the Parliament of Kenya not only
              honours their individual achivements but also commemorates their collective efforts in advancing
              democracy, championing social justice and fostering national unity. The Hall serves as a beacon of
              inspiration for current and future generations, reminding them of the vital role MPs play in steering the
              nation towards prosperity and inclusive governance.</p>
          </div>
        </div>
      </div>

    </div>

    {{ page.footer }}
</body>
