/* SINGLE PAGE */

.breadcrumb {
  margin: 2em 0;
}

.breadcrumb a, .breadcrumb li {
  color: var(--green);
  font-size: 14px;
  font-weight: 600;
}

.breadcrumb a:hover {
  color: var(--grey);
}

.created-date {
  font-size: 14px;
}

.single-featured-image {
    max-height: 450px;
    object-fit: contain;
    margin-bottom: 2em;
}

hr.single-end {
  margin: 3em 0;
  border-width: 2px;
}

.more-articles img {
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.more-articles img:hover  {
  filter: grayscale(1);
  z-index: 1;
}

.more-articles h5 {
  color: var(--green);
  font-size: 1.1rem;
  padding: 14px 0;
}

.more-articles .splide__pagination {
  bottom: -1em;
}
