<div class="footer">
  <div class="container">
    <div class="footer-bloc">
      <div class="">
        <img src="{{ base_path ~ directory }}/images/parliament-logo.svg" alt="" />
        <p>The Parliament of Kenya is the legislative body of the Republic of Kenya. It consists of two houses: National
          Assembly is responsible for making laws and overseeing the actions of the government while Senate represents
          counties and ensures that the interests of the counties are taken into account in the legislative process.</p>
      </div>

      <div class="">
        <h5>The National Assembly</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" data-replace="Home">
              <span>E-Newsletter<span></a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">News and Events</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Standing Orders</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">House Business</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Committees</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Leadership</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Membership</a>
          </li>
        </ul>
        </li>
      </div>

      <div class="">
        <h5>The Senate</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" data-replace="Home">
              <span>E-Newsletter<span></a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">News and Events</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Standing Orders</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">House Business</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Committees</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Leadership</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Membership</a>
          </li>
        </ul>
      </div>

      <div class="">
        <h5>Quick Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#">About Parliament</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">CPST</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Vacancies</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Tender Notices</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Strategic Plan 2019-2030</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Smart HRMS</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Budget Office</a>
          </li>
        </ul>
      </div>

      <div class="">
        <h5> Contacts </h5>
        <div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.807072499626!2d36.817415174483045!3d-1.2900277356291956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10d9646e9173%3A0xeb7e627d529f74c7!2sParliament%20of%20Kenya!5e0!3m2!1sen!2ske!4v1711976983853!5m2!1sen!2ske"
            width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="pt-3 my-0 text-white text-center">Copyright Parliament of Kenya. All rights reserved.2023</p>
      </div>
    </div>
  </div>
</div>
