<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col mb-1">
        <img src="{{ base_path ~ directory }}/images/national assembly logomark.svg" alt="" />
      </div>

      <div class="col mb-2">
        <h5>Site Name</h5>
      </div>

      <div class="col mb-3">
        <h5>Level A</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" data-replace="Home">
              <span>Home<span></a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Features</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Pricing</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">FAQs</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">About</a>
          </li>
        </ul>
        </li>
      </div>

      <div class="col mb-3">
        <h5>Level B</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#">Home</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Features</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Pricing</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">FAQs</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">About</a>
          </li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>Quick Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#">Home</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Features</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Pricing</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">FAQs</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
