<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col mb-1">
        <img src="{{ base_path ~ directory }}/images/coat-of-arms.svg" alt="" />
      </div>

      <div class="col mb-3">
        <h5>The National Assembly</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" data-replace="Home">
              <span>E-Newsletter<span></a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">News and Events</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Standing Orders</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">House Business</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Committees</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Leadership</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Membership</a>
          </li>
        </ul>
        </li>
      </div>

      <div class="col mb-3">
        <h5>The Senate</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" data-replace="Home">
              <span>E-Newsletter<span></a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">News and Events</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Standing Orders</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">House Business</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Committees</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Leadership</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Membership</a>
          </li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>Quick Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#">About Parliament</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">CPST</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Vacancies</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Tender Notices</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Strategic Plan 2019-2030</a>
          </li>
           <li class="nav-item mb-2">
            <a href="#">Smart HRMS</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#">Budget Office</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
<div class="col-md-8">
<p class="pt-3 my-0 text-white">Copyright Parliament of Kenya. All rights reserved.2023</p>
</div>
    </div>
  </div>
</div>
